/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
    overflow: hidden; 
    height: auto !important; 
    width: 248px;
    border: 1px solid #ccc;
    cursor: text;
    font-size: 11px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;

}

ul.token-input-list li {
    list-style-type: none;

}

ul.token-input-list li input {
    border: 0;
    width: 248px;
    padding: 1px 2px;
    background-color: white;
    -webkit-appearance: caret;
}






li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    margin: 2px;
    padding: 2px 2px;
    background-color: #ededed;
    color: #000;
    cursor: default;
	

}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    float: right;
    color: #777;
    cursor: pointer;
}

li.token-input-selected-token {
    background-color: #ededed;
    color: #fff;
}

li.token-input-selected-token span {
    color: #000000;
}








div.token-input-dropdown {
    width: 248px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    font-size: 11px;
    z-index: 1;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
	
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
    border-bottom: 1px solid #999;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #f7f7f7;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #ededed;
}
