<form id='artEditForm' name='' action='/ajax/ajax_articles.php?action=artEditAdd' method='POST'>
	<input type='hidden' value='{ART_ID}' name='article_id' id='article_id'>
	<input type='hidden' value='{ART_AUTHOR}' name='article_author' id='article_author'>
	
	<div id='artEditInfo'>
	
		<p><label for='article_title'>{LT_TILTE}:</label><input type='text' value='{ART_TITLE}' name='article_title' id='article_title'></p>
		<p><label for='article_anons'>{LT_ART_ANONS}:</label><textarea class='autoresize' name='article_anons' id='article_anons'>{ART_ANONS}</textarea></p>
		{ART_EDIT_TYPE}

	
	</div>
	<div id='artEditText'>
		<textarea id='art_edit' name='article_text' style='width: 720px;'>{ART_TEXT}</textarea>
	</div>
</form>	

<div id='response'></div>
