<!--- START NOTEPAD_MODULE -->

	<div id='notepad_div'>
		<textarea  name='notepad' id='notepad' wrap='virtual' placeholder='{LT_FOR_NOTE}'/>{TEXT_NOTEPAD}</textarea>
	</div>
	<div id='edit_notepad'></div>


<!--- END NOTEPAD_MODULE -->