<link rel="stylesheet" type="text/css" media="screen" href="/skins/fntirk/css/photo.css"/>
<script type="text/javascript" src="/libs_js/photo_upload.js"></script>

<div id="photo_create_album" class='photo_create_album'>


<h2>LT_PHOTO_LOAD</h2>
<form action="/libs_php/photo_upload.php" method="POST" target="uploadresults" name="upfiles" enctype="multipart/form-data">
  <!-- 
       Цель бытиЯ этого дива здесь - это то, что мы имеем 
       общий контейнер, для всех динамически создаваемых полей.
       Так ими удобнее управлять.
  //-->
  <div id="filewrapper">
   
    <p><input name="file[]" type="file" size="30" /><button type="button" onclick="uploader.delfield(this)">DEL</button></p>
     
  </div>
   
  <p>
    <button type="button" onclick="uploader.addfield(window)">{LT_ADD_FIELD}</button>
    <button type="submit" name="send" value="true">LT_LOAD</button>
  </p> 
  
</form>
<!-- В этом фрейме будем выводить данные о загрузке файлов //-->

<iframe name="uploadresults" frameborder="0" id="uploadresults" width="100%" height="700"></iframe>


</div>


