	<div id="alb_{ID_ALB}" class='alb_photo_view_small' >
		<div class='alb_avatar' href='/album{ID_ALB}' style='background: url("/files/photo/thumb/{THUMB_ALB}") no-repeat center;'>	</div>
		<div class='alb_info' href='/album{ID_ALB}'><h4>{TITLE_ALB}</h4></div>
		<div class='alb_button'>
			{BUT_EDITOR_ALB}
		</div>
	</div>