div.group_preview{
	margin: 5px 0;
	border: 1px solid #cccccc;
	padding: 5px;
	cursor: pointer;
}

div.group_preview:hover{
	background: #CFFED5;
}



table.group_attendance, table.group_money{
	display: table;
	border:0px; /* border="0" */
	border-collapse:collapse; /* cellspacing="0" */
}

table.group_attendance th, table.group_money th{
	background: #dfd4fd;
}

table.group_attendance td, table.group_attendance th, table.group_money th, table.group_money td{
	padding:2px 2px; /* cellpadding="0" */
	border-bottom: 1px solid #b4b4b4;
	border-right: 1px solid #b4b4b4;
}

table.group_attendance td input{
	display: none;
}
	
table.group_attendance td.atten_status.checked, table.group_attendance td.atten_status:hover{
	background: #cffed5;
	cursor: pointer;
}

table.group_money td.money input.sum, table.group_money td.money input.money:hover{
	background: #cffed5;
	cursor: pointer;
}

table.group_attendance th, table.group_money th{
	display: table-cell;
}

table.group_attendance th.name, table.group_money th.name{
	width: 160px;
}

table.group_attendance td.atten_status, table.group_money th.money_status{
	display: table-cell;
	text-align: center;
}

div.group_preview label{
	font-weight: bold;
	width: 100px;
}

table.group_money td.money{
	padding: 0;
	display: table-cell;
	border-collapse:collapse;
}

table.group_money tr.itogo{
	background: #FFF7D0;
}

table.group_money td.beznal{
	background: #c79592;
}

table.group_money td.money input.money{
	width: 35px;
	margin: 0;
	border: 0px;
	text-align: center;
}



#select_month_attendance{
	margin: 10px 0;
}

/* 

#formSaveSettings{
	margin: 20px auto;
}


#formSaveSettings td.title{
	width: 155px;
	font-weight: bold;
	text-align: right;	
	padding-right: 10px;
}

#formSaveSettings select{
	width: 300px;
}

#div_group_age{
	display: inline;
}
#formSaveSettings select.raspisanie{
	width: 60px;
}

#formSaveSettings input.title{
	width: 300px;
}
#formSaveSettings input[type=submit]{
	margin: 10px;
}*/

#group input[type=number]{
	text-align: center;
	width: 50px;
	margin: 0 auto;
}
 
#group_age_from, #group_age_to{
	width: 40px;
	text-align: center;
}
#group_age{
	margin: 5px 0px;
	width: 300px;
}






#map_groups{
	width: 500px;
	height: 300px;
	border: 1px solid #cccccc;
	padding: 7px;
	margin: 10px auto;
	display: none;
}