

#newFight, #fight, #settings{
	display: table-cell;
	text-align: center;
}


#newFight{
	text-align: left;
	width: 570px;
}

td.timeStart{
	background: #33cc66;
}

input[type=number]{
	width:66px;
	text-align: center;
	font-weight: bold;
}

input.ball{
	width:30px;
	text-align: center;
	font-weight: bold;
}

#fightSettings label{
	width: 200px;
	float: left;
}

#fightSettings{
	margin: 20px;
}


/* #listFight td{
	border-bottom: 1px solid #cccccc;
}

div.fightList input.red{
	background: #ffe3e3;
	padding-left: 10px;
}

div.fightList input.blue{
	background: #e3e4ff;
	padding-left: 10px;
} 

#listFight{
	margin: 20px auto;
	display: table;
	width: 750px;
	border: 1px solid #b6b6b6;
	padding: 20px;
}
*/
#newFight table{
	margin-left: 50px;
}

td.winner{
	color: #cc0000;
	font-weight: bold;
}

/* td.red input, td.blue input{
	text-align: center;
	width: 95%;
} */

#newFight table td{
	width: 100px;
}

#newFight table td.title{
	text-align: left;
}

#fight table td{
	width: 250px;
	border: 1px solid #cccccc;
	font-weight: bold;
	text-align: center;
}

#fight table td.name{
	font-size: 20px;
}

td.red{
	background: #fd8b8b;
	color: white;
}

td.blue{
	background: #8b93fd;
	color: white;
}

