body{
	background: url('/images/background.jpg') no-repeat;
	background-position: top center;
	background-size: cover;
	font-family: Myriad Pro;
	font-size: 10px;
	margin: 0px;
	padding: 0px;
}

#content{
	
	display: table;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	margin-top: 40px;
}

div.player{
	display: table-cell;
	width: 50%;
	height: 100%;
	margin: 0px;
	padding: 10px;
	color: white;
	text-align: center;
	font-weight: bold;
}

div.name{
	display: block;
	font-size: 10em;
	
	/* border: 3px solid white; */
}


div.ball{
	display: block;
	font-size: 50em;
	margin-top: 40px;
	line-height: 400px;  
}

#timer_tablo{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	font-size: 18em;
	font-weight: bold;
	color: black;
	position: absolute;
 	background: url('/images/backtime.png');
	background-size: contain;
	width: 30%;
	min-width: 450px;
	height: 20%;
	min-height: 200px;
	left: 35%;
	top: 70%;
	
	z-index: 99;
}

div.act{
	height: 50px;
}

table.dop_info{
	margin: 130px 130px 0 130px;;
	display: table;
	width: 300px;
	font-size: 8em;
	font-weight: bold;
	
}

table.dop_info td{
	display: table-cell;
	border: 1px solid white;
	width: 150px;
	padding: 5px;
}


#tabloRed table.dop_info{
	float: left;
}
#tabloBlue table.dop_info{
	float: right;
}
