#header{
	width: 950px;
	height: 90px;
	padding: 35px 10px 0 40px;
	display: block;
	margin: 0 auto;
}

#logo{
	text-align: left;
	width: 400px;
	height: 130px;
	color: #ffffff;
	font-size: 14px;
	vertical-align: center;
}

#logo div{
	padding-top: 40px;
}

#logo img{
	float:left;
	width: 90px;
	margin-right: 20px;
}