/****************************
 **  ????????????
 ****************************/
/* 
#81A1E4
#5E89E4
#3E5A97
#0E3383
 */

 #sor_add label{
	width:250px;    
	text-align: right;
	padding-right:15px; 
	vertical-align: middle;
	font-weight: bold;
	float: left;
	cursor: pointer;
	vertical-align: middle;
 }
 
 #sor_add input{
	width: 250px;  
 }
 
 #sor_add  div{
	margin: 3px auto;
 }
 
div.sor_event{
	min-height: 40px;
	margin-top: 3px;
	border: 1px solid #5E89E4;
	padding: 5px;
	cursor: pointer;
	color: #222222;
}

div.sor{
	width: 100%;
	display: table;
}

div.sor_event .buttonset_sor{
	text-align:left; 
	margin: 5px 0 0 0; 
	padding: 0 0 0 55px; 
	border-top: 1px solid #cccccc;
	display: none;
	
}
div.sor_status{
	font-weight:bold; 
	color:#555555;
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}

div.sor_logo_sport{
	display: table-cell;
	width: 40px;
}

div.sor_info{
	display: table-cell;
	padding-left: 15px;
}





div.sor_cur{
	background:#ff6666;
	border-color:#3E5A97;
}
div.sor_cur:hover{
	background:#ff9999;
}

div.sor_reg{
	background:#99cccc;
	border-color:#3E5A97;
}
div.sor_reg:hover{
	background:#ccccff;
}

div.sor_prev:hover{
	background:#81A1E4;
}

div.sor_next{
	border-color:#3E5A97;
	background: #6b93e7;
}
div.sor_next:hover{
	background:#81A1E4;
}





