<!--- START CALENDAR_MODULE -->
	<script type="text/javascript" src="/libs_js/site_calendar.js"></script>
	<h2>{LT_CALENDAR}</h2>
	<div id='site_cal_loading' class='loading'></div>
	<div id='site_cal' style='margin-left:8px;'></div>
<!--- END CALENDAR_MODULE -->