<a href = '/groups/?id_group={ID_GROUP}'>
	<div class='group_preview' id='group_{ID_GROUP}'>

		<div><h1>{TITLE}</h1></div>
		<div><label>{LT_GROUPS_TYPE}: </label> {TYPE} ({AGE})</div>
		<div><label>{LT_CLUB}: </label>{CLUB} ({ZAL})</div>
		{TRENER}
		
	</div>
</a>