<script src="/libs_js/highstock/js/highstock.js"></script>
<script src="/libs_js/highstock/js/modules/exporting.js"></script>
<script src="/libs_js/site_groups_stat.js"></script>

<h3>{LT_ATTENDANCE_FOR_ALL_GROUP}</h3>
<div id='chartLoading' class='loading'></div>
<div id="containerStatGroup" style="height: 300px" ></div>

