	<table>
		<tr><td class='title'>Название:</td><td><input class='title' type='text' id='' name='' value='{GROUP_TITLE}'></td></tr>
		<tr><td class='title'>Клуб:</td><td>{CLUB}</td></tr>
		<tr><td class='title'>Секция:</td><td>{SECTION}</td></tr>
		<tr><td class='title'>Тренер:</td><td>{TRENER}</td></tr>
		<tr><td class='title'>Статус:</td><td>{STATUS}</td></tr>
		<tr><td class='title'>Длительность:</td><td>{LONG}</td></tr>
		<tr><td class='title'>Расписание:</td><td>
			<table id='group_raspisanie'>
				<tr><th>{LT_PN}</th><th>{LT_VT}</th><th>{LT_SR}</th><th>{LT_CH}</th><th>{LT_PT}</th><th>{LT_SB}</th><th>{LT_VS}</th></tr>
				{RASPISANIE}
			</table>
		</td></tr>
		<tr><td class='title'>Возраст:</td><td>
				<input type='text' readonly='true' id='group_age_from' disabled value='{AGE_FROM}'> - 
				<input type='text' readonly='true' id='group_age_to' disabled  value='{AGE_TO}'> {LT_LET}
				<div id='div_group_age'><div id='group_age'></div></div>
		</td></tr>

		<tr><td class='title'>Численность:</td><td>{NUM_USERS} {LT_NUM_SPORTSMENS}</td></tr>
		
	</table>

