<script type="text/javascript" src="/libs_js/site_groups.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/skins/default/css/groups.css"/>
<h4>{GROUPS_TITLE}</h4>
<div id='groups'>
	{GROUPS}
</div>	
