<link rel="stylesheet" type="text/css" media="screen" href="/skins/fntirk/css/photo.css"/>
<script type='text/javascript' src='/libs_js/site_photo.js'></script>

{DIV_EDIT_GAL}

<div id='albs'>
	{ALBS}
</div>