<div class='sor_search_by_title'>
	<div class='button_filter'><button type='submit' class='but_filter' id='but_filter_for_sor'/>{LT_LABLE_FILTER}</button></div>
	<div class='ui-widget'><input type='text' class='search_page' name='term' id='sor_search_by_title' placeholder='{LT_SEARCH_BY_TITLE}' autocomlpete='on'></div>
	<div class='button_search'><button type='submit' class='but_search'/>{LT_LABLE_SEARCH}</button></div>
</div>
