<div id='user_add' class='user_reg_on_sor'>
	<form id='form_user_add' action='/ajax/ajax_sor.php?action=addUser' method='POST'>
	
	<input type='text' required class='name' value='' placeholder='{LT_NAME}'>
	<input type='text' required class='second_name' value='' placeholder='{LT_SECOND_NAME}'>
	
	<select name='rang' class='rang' required value=''><option value='' >{LT_RANGS_SPORT}</option>{RANGS_SPORT}</select>
	
	<select name='teem' class='teem' required value=''><option value='' >{LT_TEEM}</option></select>
	
	<select name='' class='sex'><option value='1'>{LT_SEX_1}</option><option value='0'>{LT_SEX_0}</option></select>
	
	<input type='text' class='id_user' id='id_user_add' autofocus value='' placeholder='{LT_ID}'>
	<input type='text' class='born datepicker' value='' placeholder='{LT_BORN_KR}' required>
	
	<input type='number' class='weight' value='' placeholder='{LT_WEIGHT}' step='0.1' min='15' max='200' required>
	
	<input type='hidden' class='id_sor' value='{ID_SOR}' required>
	<input type='hidden' class='id_sport' value='{ID_SPORT}' required>
	
	<button class='but_add_small' id='but_user_add'>Добавить</button>
	</form>
</div>