<div class='rang_edit {NEW}'>

	<input type='text' class='careers_sport sport' placeholder='{LT_SPORT}' value='{SPORT}' for='user_careers_rangs_sport_{NUM_RANGS}'>
	<input type='hidden' name='careers[rangs][sport][]' value='{ID_SPORT}' id='user_careers_rangs_sport_{NUM_RANGS}'>
	
	{SELECTER_RANGS}
	<select class='number_doc' readonly disabled='true'><option value='0'>{LT_NUMBER_DOC}</option></select>
	<input type='text' class='rang_raport' value='{RAPORT}'  placeholder='{LT_RAPORT}'>
	<input type='text' class='rang_date datepicker' value='{DATE}'>

	
	<button class='but_save_small save_rang'>{LT_SAVE}</button>
</div>